body {
    font-family: 'Poppins', sans-serif;
    font-size: large;
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #c33764, #1d2671, #86a8e7, #7f7fd5);
    background-size: 400% 400%;
    animation: gradientBG 10s ease infinite;
    color: #ffffff;
}

@keyframes gradientBG {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

header {
    position: fixed; 
    top: 0; 
    left: 0; 
    width: 100%; 
    background-color: rgba(52, 58, 64, 0.8); 
    color: #ffffff;
    padding: 1px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000; 
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1546px;
    margin: 0 auto;
    padding: 0 20px;
}

.header-content img {
    height: 70px;
    transition: transform 0.3s ease;
}

.header-content img:hover {
    transform: scale(1.1);
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-weight: 500;
    font-size: larger;
}

nav ul li a:hover {
    color: #ffc107;
    text-shadow: 0 0 10px #ffc107;
}

main {
    padding: 40px 20px;
    max-width: 800px;
    margin: 80px auto 1px; 
    background: rgba(255, 255, 255, 0.8); 
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.about-intro, .mission, .team {
    margin-bottom: 40px;
    padding: 20px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.8); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: rgba(0, 0, 0, 0.8);
}

.about-intro h2, .mission h3, .team h3 {
    color: #007bff;
    font-size: 2em;
}

.team-member {
    display: flex;
    align-items: center;
    gap: 20px;
}

.team-member img {
    border-radius: 10%; 
    width: 150px; 
    height: 150px; 
    object-fit: cover; 
}

.team-member h4 {
    margin: 0;
    color: #007bff;
}

.team-member p {
    margin: 0;
    line-height: 1.5;
}

footer {
    background-color: rgba(52, 58, 64, 0.8); 
    color: #ffffff;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1646px;
    margin: 0 auto;
    padding: 10px 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.footer-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.logo_ifag {
    flex: 1;
    text-align: left;
    margin-top: 25px;
}

.contact-info {
    flex: 1;
    text-align: center;
    font-size: large;
}

.footer-rights {
    flex: 1;
    text-align: right;
    margin-right: 20px; 
    margin-top: 20px;
    font-size: large;
}

.footer-content img {
    margin-left: 10px;
    max-width: 150px;
    transition: transform 0.3s ease;
}

.footer-content img:hover {
    transform: scale(1.1);
}

.footer-content h3 {
    margin: 0;
    font-size: 1.2em;
}

.footer-content p {
    margin: 0;
}

.footer-content a {
    color: #ffffff;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease;
}

.footer-content a:hover {
    color: #ffc107;
    text-shadow: 0 0 10px #ffc107;
}

@media (max-width: 768px) {
    .header-content, .footer-content {
        flex-direction: column;
        align-items: center;
    }
    nav ul {
        flex-direction: column;
    }
    nav ul li {
        margin: 10px 0;
    }
}
