html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: large;
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #c33764, #1d2671, #86a8e7, #7f7fd5);
    background-size: 400% 400%;
    animation: gradientBG 10s ease infinite;
    color: #ffffff;
}

@keyframes gradientBG {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(52, 58, 64, 0.8);
    color: #ffffff;
    padding: 1px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1546px;
    margin: 0 auto;
    padding: 0 20px;
}

.header-content img {
    height: 70px;
    transition: transform 0.1s ease;
    size: 10px;
}

.header-content img:hover {
    transform: scale(1.1);
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-weight: 500;
    font-size: larger;
}

nav ul li a:hover {
    color: #ffc107;
    text-shadow: 0 0 10px #ffc107;
}

main {
    padding: 40px 20px;
    margin-top: 70px;
}

span {
    color: #007bff;
    text-shadow: 0 0 10px #007bff;
}

.credits {
    text-align: center;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding: 20px;
    backdrop-filter: blur(10px);
    max-width: 800px;
    margin: 70px auto 0;
}

.credits h2 {
    color: #007bff;
    font-size: 2.5em;
    margin-bottom: 20px;
}

.credits p {
    color: #333;
    font-size: 1.1em;
    line-height: 1.6;
    margin-bottom: 20px;
}

.credit-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #007bff;
    border-radius: 10px;
    background-color: rgba(0, 123, 255, 0.1);
}

.credit-image img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 20px;
    transition: transform 0.3s ease;
}

.credit-image img:hover {
    transform: scale(1.1);
}

.credit-text h3 {
    font-size: 1.5em;
    margin: 0;
}

.credit-text p {
    font-size: 1.1em;
    color: #555;
}

footer {
    background-color: rgba(52, 58, 64, 0.8); 
    color: #ffffff;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1646px;
    margin: 0 auto;
    padding: 10px 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.footer-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.logo_ifag {
    flex: 1;
    text-align: left;
    margin-top: 25px;
}

.contact-info {
    flex: 1;
    text-align: center;
    font-size: large;
}

.footer-rights {
    flex: 1;
    text-align: right;
    margin-right: 20px;
    margin-top: 20px;
    font-size: large;
}

.footer-content img {
    max-width: 150px;
    transition: transform 0.3s ease;
}

.footer-content img:hover {
    transform: scale(1.1);
}

.footer-content h3 {
    margin: 0;
    font-size: 1.2em;
}

.footer-content p {
    margin: 0;
}

.footer-content a {
    color: #ffffff;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease;
}

.footer-content a:hover {
    color: #ffc107;
    text-shadow: 0 0 10px #ffc107;
}

@media (max-width: 768px) {
    .header-content, .footer-content {
        flex-direction: column;
        align-items: center;
    }

    .header-content img {
        height: 50px;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        margin-left: 0;
        margin-bottom: 10px;
    }

    main {
        padding: 20px;
    }

    .credits {
        padding: 10px;
        margin-top: 150px;
    }

    .credit-item {
        flex-direction: column;
        align-items: center;
    }

    .credit-image img {
        margin-right: 0;
        margin-bottom: 10px;
    }

    footer {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer-content {
        flex-direction: column;
        align-items: center;
    }

    .footer-rights {
        margin: 0;
        margin-top: 10px;
    }
}

@media (max-width: 480px) {
    .header-content img {
        height: 40px;
    }

    nav ul li a {
        font-size: medium;
    }

    .credits h2 {
        font-size: 2em;
    }

    .credit-text h3 {
        font-size: 1.2em;
    }

    .credit-text p {
        font-size: 1em;
    }

    .footer-content img {
        max-width: 100px;
    }
}
