body, h2, div, input, label, button, a {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(135deg, #c33764, #1d2671, #86a8e7, #7f7fd5);
    background-size: 400% 400%;
    animation: gradientBG 10s ease infinite;
}

@keyframes gradientBG {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.login-container {
    position: relative;
    width: 350px;
    height: 450px;
    perspective: 1000px;
}

.form-inner {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.login-container.flipped .form-inner {
    transform: rotateY(180deg);
}

.login {
    width: 100%;
    height: 90%;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    background: rgba(255, 255, 255, 0.2);
    position: absolute;
    backface-visibility: hidden;
    text-align: center;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.front {
    z-index: 2;
    transform: rotateY(0deg);
}

.back {
    transform: rotateY(180deg);
}

h2 {
    margin-bottom: 25px;
    color: #fff;
    font-size: 28px;
    font-weight: 600;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.username{
    margin-bottom: 20px;
    text-align: left;
    position: relative;
}

label {
    display: block;
    margin-bottom: 8px;
    color: #fff;
    font-size: 14px;
}

input[type="text"]{
    width: 100%;
    padding: 12px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0.1);
    color: #fff;
}

input[type="text"]:focus {
    border-color: #007bff;
    background: rgba(255, 255, 255, 0.2);
    outline: none;
}


button {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    background: linear-gradient(135deg, #6d5dfc, #6c73ff);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

button:hover {
    background: linear-gradient(135deg, #5a4cff, #705dff);
    transform: scale(1.05);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.additional-options {
    margin-top: 20px;
}

.additional-options a {
    color: #fff;
    text-decoration: none;
    margin: 0 5px;
    transition: color 0.3s;
}

.additional-options a:hover {
    color: #e1e1e1;
    text-decoration: underline;
}
